.login-dark {
    height: 1000px;
    background: #475d62 url(../../assets/img/star-sky.jpg);
    background-size: cover;
    position: relative;
}

.login-dark form {
    max-width: 320px;
    width: 90%;
    background-color: #1e2833;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark .illustration {
    text-align: center;
    padding: 15px 0 20px;
    font-size: 100px;
    color: #2980ef;
}

.login-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

.login-dark form .btn-primary {
    background: #214a80;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
    background: #214a80;
    outline: none;
}

.login-dark form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
    opacity: 1;
    text-decoration: none;
}

.login-dark form .btn-primary:active {
    transform: translateY(1px);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* body {
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 15px;
    margin: 0; } */

input,
textarea,
select,
button {
    font-family: "Montserrat-Regular";
    color: #fff;
    font-size: 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a:hover {
    text-decoration: none;
}

 :focus {
    outline: none;
}

.wrapper2 {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("../images/bg-registration-form-7.jpg") no-repeat;
    background-size: cover;
}

.inner2 {
    width: 100%;
    max-width: 758px;
    margin: auto;
    background: #d6e3ec;
    border: 10px solid #0d99d7;
    padding: 77px 99px 87px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.inner2_1 {
    width: 100%;
    max-width: 758px;
    margin: auto;
    background: #d6e3ec;
    border: 10px solid #0d99d7;
    padding: 77px 99px 87px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

textarea {
    resize: none;
}

h3 {
    text-transform: uppercase;
    font-size: 45px;
    font-family: "Montserrat-Bold";
    text-align: center;
    margin-bottom: 12px;
}

p {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 55px;
    line-height: 1.8;
}

.form-group {
    position: relative;
    display: block;
    margin-bottom: 48px;
}

.form-group span {
    font-size: 15px;
    color: #030303;
    position: absolute;
    top: 11px;
    transition: all .2s ease;
    transform-origin: 0 0;
    cursor: text;
}

.form-group span.border {
    height: 2px;
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 41px;
    transform: scaleX(0);
    transition: all .15s ease;
    background: #fff;
}

.form-control {
    border: none;
    border-bottom: 2px solid #070707;
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    background: none;
    font-family: "Montserrat-SemiBold";
}

.form-control:focus,
.form-control:valid {
    border-bottom: 2px solid #fff;
}

.form-control:focus+span,
.form-control:valid+span {
    transform: translateY(-22px) scale(0.8);
}

.form-control:focus+span+.border,
.form-control:valid+span+.border {
    transform: scaleX(1);
}

textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px;
}

.button2 {
    border: none;
    width: 162px;
    height: 51px;
    border: 2px solid rgb(0, 0, 0);
    margin: auto;
    margin-top: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    color: rgb(7, 7, 7);
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.button2 i {
    margin-left: 10px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.button2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.button2:hover {
    border-color: rgb(0, 0, 0);
}

button2:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.button2:hover i {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
}

@media (max-width: 767px) {
    h3 {
        font-size: 38px;
    }
    p {
        font-size: 14px;
        padding: 0;
    }
    .inner2 {
        padding: 27px 20px 37px;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none;
    }
    .wrapper2 {
        background: #0d99d7;
        border: 10px solid #0d99d7;
    }
}


/*# sourceMappingURL=style.css.map */


/* login design */

.card0 {
    box-shadow: 0px 4px 8px 0px #757575;
    border-radius: 0px
}

.card2 {
    margin: 0px 40px
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.line {
    height: 1px;
    width: 40%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }
    .image {
        width: 300px;
        height: 220px
    }
    .border-line {
        border-right: none
    }
    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px;
    }
    .car_mob {
        margin-top: -94%;
    }
    .margin_ {
        margin-top: -31%;
    }
    .loghere_text {
        width: 50%;
    }
    .line {
        width: 24%;
    }
}