body {
    overflow-x: hidden;
    width: 100%;
}

.carousel-item img {
    opacity: 100%;
}

.jumbotron {
    background-color: #fcdef5;
}

.card {
    border: none
}

div.sticky {
    width: 100%;
    position: -webkit-fixed;
    position: fixed;
    top: 0;
    z-index: 11998;
}

.navbar {
    width: 102%;
}

#nav_rit {
    margin-left: 65%;
}

#nav_rit_2 {
    margin-left: 70%;
}

@media only screen and (max-width: 600px) {
<<<<<<< HEAD
    #first_row_ {
        width: 76%;
        border: 1px solid silver;
        margin-left: 12%;
        margin-top: 1%;
    }
=======
>>>>>>> 223fc33b20b9443ea6baf67e98cd3a35390fae05
    .navbar {
        width: 110%;
    }
    #nav_rit {
        margin-left: 0%;
    }
    div.sticky {
        width: 100%;
        position: static;
        /* position: fixed; */
        top: 0;
        z-index: 11998;
    }
    #colum4_ {
        margin-top: 239px;
        margin-left: -131px;
    }
    #cart_btn_ {
        margin-left: 0%;
        margin-top: 6px;
    }
    #img_element {
<<<<<<< HEAD
        height: 174px;
        width: 182px;
        margin-top: 4%;
        margin-left: -61px;
    }
    #item_name_para {
        font-family: fantasy;
        font-size: 24px;
        background-color: rgb(234 234 227);
        color: red;
        width: 183px;
        margin-left: -63px;
    }
    #item_price_para {
        font-family: cursive;
        font-size: 25px;
        margin-top: 10%;
        width: 84px;
        margin-left: 74px;
    }
    #rem_cart {
        width: 108px;
        margin-left: 56px;
    }
    #my_cart_title {
        margin-left: 30%;
=======
        margin-top: 4px;
>>>>>>> 223fc33b20b9443ea6baf67e98cd3a35390fae05
    }
}


/* login signin design */

.login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #f35dbe, #ff000c);
    padding: 6px 29px;
    border-radius: 30px;
    position: relative;
    top: 50%;
}

<<<<<<< HEAD
#my_cart_title {
    margin-left: 45%;
}

=======
>>>>>>> 223fc33b20b9443ea6baf67e98cd3a35390fae05

/*Modal*/

h4 {
    font-weight: bold;
    color: #fff;
}

.close {
    color: #fff;
    transform: scale(1.2)
}

.modal-content {
    font-weight: bold;
    background: linear-gradient(to bottom right, #F87E7B, #B05574);
}

.form-control {
    margin: 1em 0;
}

.form-control:hover,
.form-control:focus {
    box-shadow: none;
    border-color: #fff;
}

.username,
.password {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 2px solid #eee;
    padding-left: 0;
    font-weight: normal;
    background: transparent;
}

.form-control::-webkit-input-placeholder {
    color: #eee;
}

.form-control:focus::-webkit-input-placeholder {
    font-weight: bold;
    color: #fff;
}

.login {
    padding: 6px 20px;
    border-radius: 20px;
    background: none;
    border: 2px solid #FAB87F;
    color: #FAB87F;
    font-weight: bold;
    transition: all .5s;
    margin-top: 1em;
}

.login:hover {
    background: #FAB87F;
    color: #fff;
}

#item_name_para {
    font-family: fantasy;
    font-size: 24px;
    background-color: rgb(234 234 227);
    color: red;
    width: 200px;
}

#item_price_para {
    font-family: cursive;
    font-size: 25px;
    margin-top: 10%;
}


/* order summary */

#order_summ_div {
    margin-top: 15%;
    height: 300px;
    background-color: blanchedalmond;
}

<<<<<<< HEAD
#first_row_ {
=======
#first_row_
{  
>>>>>>> 223fc33b20b9443ea6baf67e98cd3a35390fae05
    width: 40%;
    border: 1px solid silver;
    margin-left: 30%;
    margin-top: 1%;
}

<<<<<<< HEAD
#buy_now {
    display: none;
}

#tot_bill_ {
=======
#buy_now{
    display: none;
    
}
#tot_bill_
{
>>>>>>> 223fc33b20b9443ea6baf67e98cd3a35390fae05
    width: 20%;
    height: 300px;
    background-color: #e8e8e8;
    margin-top: 3%;
    margin-left: 40%;
}
<<<<<<< HEAD

#img_element {
    height: 200px;
    width: 200px;
    margin-top: 4%;
}
=======
>>>>>>> 223fc33b20b9443ea6baf67e98cd3a35390fae05
